<launch>
    <!-- TODO(Justin) Fill in correct marker dimension -->
    <arg name="marker_size" default="4.4" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />

  <arg name="cam_image_topic" default="/cameras/left_hand_camera/image" />
  <arg name="cam_info_topic" default="/cameras/left_hand_camera/camera_info" />  

  <arg name="output_frame" default="/base" />
    <arg name="med_filt_size" default="6" />
    <arg name="bundle_files" default="$(find pic2world)/bundles/paper.xml" />

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)  $(arg bundle_files)" />

    <node name="pic2world_node" pkg="pic2world" type="run_node.py" respawn="false" output="screen" args="$(arg output_frame)"/>
</launch>
