<launch>
    <!-- TODO(Justin) Fill in correct marker dimension -->
    <arg name="marker_size" default="5.6" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />

  <arg name="cam_image_topic" default="/cameras/left_hand_camera/image" />
  <arg name="cam_info_topic" default="/cameras/left_hand_camera/camera_info" />  
  <arg name="output_frame" default="/base" />
    <arg name="med_filt_size" default="6" />

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

    <node name="pic2world_node" pkg="pic2world" type="run_node.py" respawn="false" output="screen" args="$(arg output_frame)"/>
</launch>
